<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-4">
        <div class="relative overflow-hidden rounded-3xl bg-gray-900 lg:h-[600px] px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
          <img class="absolute inset-0 h-full w-full object-cover" src="/img/bulk.JPG" alt="">
        </div>
      </div>
      <div>
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lorem ipsum dolor sit amet.</h1>
          <div class="max-w-xl">
            <p class="mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ullam labore cumque perferendis illum voluptates repudiandae doloremque, impedit laborum quibusdam, aliquid laudantium minima delectus aperiam reprehenderit nostrum unde harum doloribus neque accusamus necessitatibus ratione tenetur at? Officia necessitatibus aliquid, ad sapiente obcaecati assumenda. Ducimus molestiae ea tenetur pariatur unde mollitia?</p>
            <p class="mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maxime aut labore, maiores iusto quisquam animi necessitatibus est dolor, sed reprehenderit ex? Sed, impedit ut.</p>
            <p class="mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi earum fuga porro, natus soluta rerum optio, quia quasi debitis, voluptate corrupti quo aliquid consectetur fugiat!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-32">
      <div>
        <h1 class="mt-2 text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Lorem ipsum dolor sit amet.</h1>
        <div class="max-w-xl">
          <p class="mt-1 leading-6 tracking-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, sunt.</p>
        </div>
      </div>
      <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-rows-1 gap-10 mt-10">
        <div>
          <img src="/img/bulk.JPG" alt="" class="rounded-lg shadow hover:opacity-90">
        </div>
        <div>
          <img src="/img/bulk.JPG" alt="" class="rounded-lg shadow hover:opacity-90">
        </div>
        <div>
          <img src="/img/bulk.JPG" alt="" class="rounded-lg shadow hover:opacity-90">
        </div>
        <div>
          <img src="/img/bulk.JPG" alt="" class="rounded-lg shadow hover:opacity-90">
        </div>
      </div>
    </div>
  </div>
</div>
