    <!-- About Us section -->
    <section class="mt-32 bg-main">
        <div class="max-w-6xl py-16 mx-auto">
            <div class="grid justify-center gap-10 md:gap-40 grid-row-2 md:grid-cols-2 md:grid">
                <!-- about image -->
                <div class="flex justify-center pb-6 md:pb-0 delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0"
                    data-taos-offset="400">
                    <img src="/Img/logo_white.png" class="h-[200px] md:h-[230px]" alt="">
                </div>
                <div class="text-center flex flex-col gap-10 w-[400px] delay-[300ms] duration-[600ms] taos:translate-x-[200px] taos:opacity-0"
                    data-taos-offset="400">
                    <div>
                        <!-- about header text -->
                        <div>
                            <h1 class="text-2xl font-semibold bg-gradient-to-r from-zinc-100 to-white bg-clip-text text-transparent capitalize md:text-4xl">Lorem ipsum dolor sit amet.</h1>
                        </div>
                        <!-- about pragraph -->
                        <div class="px-10 pt-4 md:pt-7 md:px-0">
                            <p class="text-xs leading-6 font-light text-white md:text-sm line-clamp-5">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Nihil ex alias officiis, aperiam sint aliquid voluptatum
                                cumque numquam consequuntur tenetur tempora, fugiat, quo magni. Ab quas inventore quam
                                qui asperiores nisi ea.</p>
                        </div>
                    </div>
                    <!-- about btn -->
                    <div>
                        <button id="button" type="submit"
                            class="inline-flex items-center gap-2 text-black text-sm font-semibold shadow  to-gray-200 from-white hover:to-smoke duration-200 bg-gradient-to-b rounded-full px-6 py-2">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>