---
import Container from "../global/Container.astro";

---


<div class=" py-16 bg-main">
    <Container>
        <div class="flex flex-col md:flex-row">
            <div>
                <p class="text-3xl font-semibold  text-white">Contact Us For Bulk purchase</p>
                <p class="font-medium text-gray-200 mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quia rerum nam temporibus eveniet atque.</p>
            </div>
            <div class="flex flex-grow md:justify-end items-center pt-6 md:pt-0">
                <a href="/product" class="bg-white text-black px-5 py-2 rounded-full font-semibold text-sm hover:bg-white/[90%] transition duration-150 flex items-center gap-1.5">Order Now</a>
                </div>
            </div>
    </Container>
    </div>


<!-- <section class="bg-main rounded-lg max-w-3xl mx-auto my-32 relative z-20">
    <div class="flex flex-col items-center justify-end py-10 gap-6 md:gap-4">
        <div class="pb-3">
            <h1 class="text-2xl font-semibold bg-gradient-to-r from-zinc-100 to-white bg-clip-text text-transparent capitalize md:text-4xl">Contact Us For Bulk purchase</h1>
        </div>
        <form class="w-full max-w-md lg:col-span-5 lg:pt-2 space-y-4 flex flex-col justify-center">
            <div class="flex gap-x-4">
              <label for="email-address" class="sr-only">Name</label>
              <input id="email-address" name="email" type="email" autocomplete="email" required="" class="min-w-0 flex-auto rounded-md border-0 bg-white/80 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your name">
            </div>
            <div class="flex gap-x-4">
                <label for="email-address" class="sr-only">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required="" class="min-w-0 flex-auto rounded-md border-0 bg-white/80 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
            </div>
            <div class="flex gap-x-4">
                <label for="email-address" class="sr-only">Quantity</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required="" class="min-w-0 flex-auto rounded-md border-0 bg-white/80 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter quantity">
            </div>
          </form>
          <button type="submit" class="inline-block rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Order Now</button>
    </div>
</section> -->