---
import Container from "../global/Container.astro";

---

<Container>
    <section class="my-40 relative z-20">
        <div class="relative z-10 ">
            <h1 class="text-4xl font-semibold z-20 flex justify-center md:justify-start">Why Relan?</h1>
        </div>
        <div class="grid grid-row-3 md:grid md:grid-cols-2 lg:grid-cols-3 lg:gap-24 md:gap-10 gap-10 px-10 pt-16 cursor-pointer">
            <div class="flex flex-col gap-6 justify-center shadow md:hover:ring-1 ring-1 md:hover:ring-zinc-300 ring-zinc-200 items-center text-center rounded-lg px-10 py-12 bg-zinc-100">
                <div>
                    <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/delivery-scooter.png" alt="delivery-scooter"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg leading-6">Lorem ipsum dolor sit.</h3>
                    <p class="text-gray-600 text-sm px-4 leading-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ut ducimus, facilis exercitationem veritatis quibusdam officiis?</p>
                </div>
            </div>
            <div class="flex flex-col gap-6 justify-center shadow md:hover:ring-1 ring-1 md:hover:ring-zinc-300 ring-zinc-200 items-center text-center rounded-lg px-10 py-12 bg-zinc-100">
                <div>
                    <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/palm-tree--v1.png" alt="palm-tree--v1"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg leading-6">Lorem ipsum dolor sit.</h3>
                    <p class="text-gray-600 text-sm px-4 leading-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ut ducimus, facilis exercitationem veritatis quibusdam officiis?</p>
                </div>
            </div>
            <div class="flex flex-col gap-6 justify-center shadow md:hover:ring-1 ring-1 md:hover:ring-zinc-300 ring-zinc-200 items-center text-center rounded-lg px-10 py-12 bg-zinc-100">
                <div>
                    <img width="84" height="84" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-iso-symbol-factory-flaticons-lineal-color-flat-icons.png" alt="external-iso-symbol-factory-flaticons-lineal-color-flat-icons"/>            
                </div>
                <div class="space-y-4">
                    <h3 class="text-black font-semibold text-lg leading-6">Lorem ipsum dolor sit.</h3>
                    <p class="text-gray-600 text-sm px-4 leading-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ut ducimus, facilis exercitationem veritatis quibusdam officiis?</p>
                </div>
            </div>
        </div>
        <div class="pattern-dots-md w-20 h-20 absolute -top-6 -left-6 z-0 text-zinc-300 inset-0 hidden md:block"></div>
    </section>
</Container>