---

---

<div class="bg-white pb-24">
    <div class="pb-16 pt-16 sm:pb-24">
      <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
          <div class="lg:col-span-5 lg:col-start-8">
            <div class="flex justify-between">
              <h1 class="text-xl font-medium text-gray-900">Coconut Oil</h1>
              <p class="text-xl font-medium text-gray-900">RS.2000</p>
            </div>
          </div>

          <!-- Image gallery -->
          <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
            <h2 class="sr-only">Images</h2>

            <div class="">
              <img src="/img/bulk.JPG" alt="relan coconut oil" class="rounded-lg h-[630px] w-[800px]">              
            </div>
          </div>

          <div class="mt-8 lg:col-span-5">
            <form>
              <!-- Size picker -->
              <div class="mt-8">
                <div class="flex items-center justify-between">
                  <h2 class="text-sm font-medium text-gray-900">Size</h2>
                  <a href="#" class="text-sm font-medium text-main hover:text-green-700">See liters chart</a>
                </div>

                <fieldset class="mt-2">
                  <legend class="sr-only">Choose a size</legend>
                  <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                    <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none hover:bg-zinc-200 hover:ring-zinc-400 hover:ring-1" >
<input type="radio" x-model="value" name="size-choice" value="XS" class="sr-only" aria-labelledby="size-choice-1-label">
                        <span id="size-choice-1-label">1L</span>
                      </label>
                    <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none hover:bg-zinc-200 hover:ring-zinc-400 hover:ring-1" >
<input type="radio" x-model="value" name="size-choice" value="S" class="sr-only" aria-labelledby="size-choice-2-label">
                        <span id="size-choice-2-label">2L</span>
                      </label>
                    <label class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none hover:bg-zinc-200 hover:ring-zinc-400 hover:ring-1" >
<input type="radio" x-model="value" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                        <span id="size-choice-3-label">3L</span>
                      </label>
                    <label  class="flex items-center justify-center rounded-md border py-3 px-3 text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none hover:bg-zinc-200 hover:ring-zinc-400 hover:ring-1" >
<input type="radio" x-model="value" name="size-choice" value="L" class="sr-only" aria-labelledby="size-choice-4-label">
                        <span id="size-choice-4-label">10L</span>
                      </label>
                    
                  </div>
                </fieldset>
              </div>

              <button type="submit" class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-main px-8 py-3 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-main focus:ring-offset-2">Order Now</button>
            </form>

            <!-- Product details -->
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900">Description</h2>

              <div class="prose prose-sm mt-4 text-gray-500">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione error soluta totam placeat quis expedita illo provident facilis, consectetur vero in iusto magni doloribus distinctio sit rem voluptatem animi necessitatibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum delectus enim reprehenderit obcaecati corporis rerum.</p>
      </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>